---
layout: ion_page
title: Past Seminars
permalink: /seminars/
feature-img: /seminarreviews.jpg
---

{% for post in site.posts %}
	{% if post.categories contains 'review' and post.categories contains 'seminar'%}
	<article class="post">

	<h3>{{ post.title }}</h3>
		  <div class="entry">
				<img class="image left" height="150" width="150" src="{{ site.imgurl }}{{ post.thumb-img }}"/>
				<p>
					{{ post.excerpt }}
				</p>
				<a class="button" href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
		  </div>
	<hr>
	</article>
	{% endif %}
{% endfor %}
