---
layout: page
title: Past Seminars
permalink: /seminars/
---

<h2>Past Seminars</h2>

{% for post in site.posts %}
	{% if post.categories contains 'review' and post.categories contains 'seminar'%}
	<article class="post">
	
	<h3>{{ post.title }}</h3>
		  <div class="entry">
		  	<div class="medium-8 small-12 columns">
				<p>
					{{ post.excerpt }}
				</p>
				 <p>
					  <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More...</a>
				  </p>
			</div>
		  	<div class="medium-4 small-12 columns">
					<img height="100" width="100" src="{{ site.basurl }}{{ post.feature-img }}"/>
			</div>			
		  </div>
	<hr>
	</article>
	{% endif %}
{% endfor %}