  <!-- Search form -->
  <form method="get" action="/search" data-search-form>
	
	
	
	  <div class="row">
		<div class="large-12 columns">
		  <div class="row collapse">
			<div class="small-10 columns">
			  <input type="text" name="q" id="q" placeholder="Enter search term" data-search-input />
			</div>
			<div class="small-2 columns">
				<input type="submit" class="button postfix" value="Search" />
			</div>
		  </div>
		</div>
	  </div>
  </form>

  <!-- Search results placeholder -->
  <p data-search-found>
    <span data-search-found-count></span> result(s) found for &ldquo;<span data-search-found-term></span>&rdquo;.
  </p>
  <div data-search-results></div>



  <!-- Search result template -->
  <script type="text/x-template" id="search-result">
    <div>
      <h2><a href="##Url##">##Title##</a></h2>
      <p><a href="##Url##">##Excerpt##</a></p>
      <p><a href="##Url##">Read &ldquo;##Title##&rdquo;</a></p>
	  <hr>
    </div>
  </script>

  <!-- jQuery - required but can be moved to the <head> -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

  <!-- Search script - Must appear after template -->
  <script src="/scripts/search.js"></script>
