<!DOCTYPE html>
<html>
	<head>
		<title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>
		
		<!-- Open Graph metadata -- Better appearance on Facebook! -->
		<meta property="og:title" content="{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}" />
		<meta property="og:type" content="article" />
		<meta property="og:site_name" content="{{ site.description }}"/>
		<meta property="og:description" content="{{ page.excerpt | strip_html}}" />
		{% if page.feature-img %}
		<meta property="og:image" content="{{ site.imgurl }}{{ page.feature-img }}"/>
		{% endif %}
		<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
		
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<!--[if lte IE 8]><script src="{{ site.url }}/assets/js/html5shiv.js"></script><![endif]-->
		<script src="{{ site.url }}/assets/js/jquery.min.js"></script>
		<script src="{{ site.url }}/assets/js/skel.min.js"></script>
		<script src="{{ site.url }}/assets/js/skel-layers.min.js"></script>
		<script src="{{ site.url }}/assets/js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="{{ site.url }}/assets/css/skel.css" />
			<link rel="stylesheet" href="{{ site.url }}/assets/css/style.css" />
			<link rel="stylesheet" href="{{ site.url }}/assets/css/style-xlarge.css" />
		</noscript>
	</head>
	<body id="top">

		<!-- Header -->
			<header id="header" class="skel-layers-fixed">
				<h1><a href="#">SSAHK</a></h1>
				<nav id="nav">
					<ul>					
						{% for link in site.navigation %}
						  {% assign current = nil %}
						  {% if page.url == link.url%}
							{% assign current = 'active' %}
						  {% endif %}
						  <li class="{{ current }}">
							<a href="{{ site.url }}{{ link.url }}">{{ link.text }}</a>
						  </li>
						{% endfor %}
						<li><a href="{{ site.url }}/search" class="button special">Search</a></li>
					</ul>
				</nav>
			</header>

		<!-- Main -->
			<section id="main" class="wrapper style1">
				{{ content }}
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<div class="row double">
						<div class="6u">
							<div class="row collapse-at-2">
								<div class="6u">
									<h3>Latest News</h3>
									<ul class="alt">
										<li><a href="#">International Minimally Invasive Surgery Conference 2015</a></li>
										<li><a href="#">CSHK 25th Anniversary Mentorship Programme 2015 -- "Ignite a Spark, Create a Legacy"</a></li>
										<li><a href="#">Do you have the guts to be a neurosurgeon?</a></li>
										<li><a href="#">SSAHK 4th seminar – “What is the Minimally Invasive Surgery to the Brain?”</a></li>
									</ul>
								</div>
								<div class="6u">
									<h3>Latest Reviews</h3>
									<ul class="alt">
										<li><a href="#">Surgical Challenges in the Tropics</a></li>
										<li><a href="#">The Art and Science of Surgery</a></li>
										<li><a href="#">Inspiration to become a surgeon- from very basic to using the robot</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="6u">
							<h2>Aliquam Interdum</h2>
							<p>Blandit nunc tempor lobortis nunc non. Mi accumsan. Justo aliquet massa adipiscing cubilia eu accumsan id. Arcu accumsan faucibus vis ultricies adipiscing ornare ut. Mi accumsan justo aliquet.</p>
							<ul class="icons">
								<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
								<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
								<li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
								<li><a href="#" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>
							</ul>
						</div>
					</div>
					<ul class="copyright">
						<li>&copy; SSAHK. All rights reserved.</li>
						<li>Design: <a href="http://templated.co">TEMPLATED</a></li>
					</ul>
				</div>
			</footer>
	</body>
</html>