<!DOCTYPE html>
<html>
	<head>
		<title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>
		
		<!-- Open Graph metadata -- Better appearance on Facebook! -->
		<meta property="og:title" content="{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}" />
		<meta property="og:type" content="article" />
		<meta property="og:site_name" content="{{ site.description }}"/>
		<meta property="og:description" content="{{ page.excerpt | strip_html}}" />
		{% if page.feature-img %}
		<meta property="og:image" content="{{ site.imgurl }}{{ page.feature-img }}"/>
		{% endif %}
		<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
		
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<!--[if lte IE 8]><script src="{{ site.url }}/assets/js/html5shiv.js"></script><![endif]-->
		<script src="{{ site.url }}/assets/js/jquery.min.js"></script>
		<script src="{{ site.url }}/assets/js/skel.min.js"></script>
		<script src="{{ site.url }}/assets/js/skel-layers.min.js"></script>
		<script src="{{ site.url }}/assets/js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="{{ site.url }}/assets/css/skel.css" />
			<link rel="stylesheet" href="{{ site.url }}/assets/css/style.css" />
			<link rel="stylesheet" href="{{ site.url }}/assets/css/style-xlarge.css" />
		</noscript>
	</head>
	<body id="top">

		<!-- Header -->
			<header id="header" class="skel-layers-fixed">
				<h1><a href="#">SSAHK</a></h1>
				<nav id="nav">
					<ul>					
						{% for link in site.navigation %}
						  {% assign current = nil %}
						  {% if page.url == link.url%}
							{% assign current = 'active' %}
						  {% endif %}
						  <li class="{{ current }}">
							<a href="{{ site.url }}{{ link.url }}">{{ link.text }}</a>
						  </li>
						{% endfor %}
						<li><a href="{{ site.url }}/search" class="button special">Search</a></li>
					</ul>
				</nav>
			</header>

		<!-- Main -->
		{{ content }}

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<div class="row double">
						<div class="4u">
							<h3>Latest News</h3>
							<ul class="alt">									
							{% for post in site.categories.news limit:4%}
								<li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
							{% endfor %}
							</ul>
						</div>
						<div class="4u">
							<h3>Latest Reviews</h3>
							<ul class="alt">						
							{% for post in site.categories.review limit:4%}
								<li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
							{% endfor %}
							</ul>
						</div>
						<div class="4u">
							<h2>Stay Tuned</h2>
							<p>Follow our Facebook page, or simply send us an email!</p>
							<ul class="icons">
								<li><a href="https://www.facebook.com/pages/Student-Surgical-Association-of-Hong-Kong-SSAHK/255010581374442?fref=ts" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
								<li><a href="mailto:info@ssahk.org" class="icon fa-envelope"><span class="label">Email</span></a></li>
								<li><a href="https://www.youtube.com/channel/UCfZbXUXvwzyf7wKVfng0XQg" class="icon fa-youtube"><span class="label">Youtube</span></a></li>
							</ul>
						</div>
					</div>
					<ul class="copyright">
						<li>&copy; SSAHK. All rights reserved.</li>
						<li>Design: <a href="http://templated.co">TEMPLATED</a></li>
					</ul>
				</div>
			</footer>
		{% include analytics.html %}
	</body>
</html>